<h1>Signup</h1>

<form action="/users" method="post">
  <p>
    <input type="text" name="user[email]" placeholder="email">
  </p>
  <p>
    <input type="password" name="user[password]" placeholder="password">
  </p>
  <p>
    <input type="submit" value="Sign me up!">
  </p>
</form>
